.col {
    padding-top: 12px;
}

.tarjetas {
    background-image: url("images/cards/boca-abajo.jpg")
}

.tarjetas img {
    opacity: 0;
}

.tarjetas img[id="exito"] {
    opacity: 1;
}

.oculto {
    display: none;
}